upload_max_filesize={{ nextcloud_max_upload_size }}
post_max_size={{ nextcloud_max_upload_size }}
max_input_time={{ nextcloud_max_upload_time }}
max_execution_time={{ nextcloud_max_upload_time }}
memory_limit=512M
mbstring.func_overload=0
always_populate_raw_post_data=-1
default_charset='UTF-8'
output_buffering=0
